In [2]:
import sys 
sys.path.append("/home/karen/Documents/GitHub/Muscle_wasting/network")
sys.path.append("/home/karen/Documents/GitHub/Muscle_wasting/database_analysis")
sys.path.append("/home/karen/Documents/GitHub/Muscle_wasting/venv/lib/python3.10/site-packages")
sys.path.append("/home/karen/Documents/GitHub/Muscle_wasting/venv/lib/python3.10/site-packages/networkx")

In [3]:
cd /home/karen/Documents/GitHub/Muscle_wasting

/home/karen/Documents/GitHub/Muscle_wasting

/home/karen/Documents/GitHub/Muscle_wasting/venv/lib/python3.11/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

# Analyzing the relevance of the genes

For this case, we are checking the genes candiates for the lab:
["NT5C2","ALDOA","BLCAP","FEZ2","SLC16A3","STUM","STUM","CA3","STIM1","ACIN1","HNRNPM","TPM3","CALM1","EHMT1","MYL2","RPS24","ENO3","TNNI1","EEF2","HBA2","MB","RPL13A"
,"KL","GPX7","NDUFB4","KL","TAF9B","AK1","GLB1L","ADA","AK1","GLB1L","ADA","ERI3","RNF7","RECQL","CLIC4","AS3MT","CLIC6","MAST1","CLIC4","CCNI","MMP23B","AK1","CLIC4","CUTC","KLRB1",
"MICU1","PARK7","SBDS","MEIS2","ALDOA","CA3","FEZ2","EIF3C","UBE2H","CALM1"]

These were picked for being top on the categories (ML and DE) and having orthologs ot  the worm

In [4]:
import sys
print(sys.executable)  # Should match your virtual environment
print(sys.path)

/home/karen/Documents/GitHub/Muscle_wasting/venv/bin/python
['/home/karen/anaconda3/lib/python311.zip', '/home/karen/anaconda3/lib/python3.11', '/home/karen/anaconda3/lib/python3.11/lib-dynload', '', '/home/karen/Documents/GitHub/Muscle_wasting/venv/lib/python3.11/site-packages', '/home/karen/Documents/GitHub/Muscle_wasting/network', '/home/karen/Documents/GitHub/Muscle_wasting/database_analysis', '/home/karen/Documents/GitHub/Muscle_wasting/venv/lib/python3.10/site-packages', '/home/karen/Documents/GitHub/Muscle_wasting/venv/lib/python3.10/site-packages/networkx']

In [5]:
import walking_network as wn

In [6]:
import networkx as nx

In [7]:
import pandas as pd
import numpy as np

We are going to load a graph with the mirnas and with the cut of pagerank to only get relevant genes on the network, however we should do it for the full gone, since genes belonging to pathways may be discarted on this PR evaluation.

In [8]:
whole_network = nx.read_gpickle(f"network/Networks_pkl/complete_n_tf_mirnas__tf_network_ML_and_10_DE_cutoff_0.1.pkl")

In [9]:
whole_network

In [10]:
pr_network = nx.read_gpickle(f"network/Networks_pkl/complete_n_tf_mirnas__tf_network_ML_and_10_DE_cutoff_0.8                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .pkl")

In [11]:
steps=5

In [12]:
import matplotlib.pyplot as plt
#nx.draw_networkx(network)
#plt.show()

In [13]:
miR_nodes = [node for node in pr_network.nodes if node.startswith('hsa-miR')]
len(miR_nodes)

0

In [14]:
# Just to no change names, miR_nodes is the same name but it is now the relevant genes from the ML and DE selection
miR_nodes = ["NT5C2","ALDOA","BLCAP","FEZ2","SLC16A3","STUM","STUM","CA3","STIM1","ACIN1","HNRNPM","TPM3",
             "CALM1","EHMT1","MYL2","RPS24","ENO3","TNNI1","EEF2","HBA2","MB","RPL13A" ,"KL","GPX7","NDUFB4",
             "KL","TAF9B","AK1","GLB1L","ADA","AK1","GLB1L","ADA","ERI3","RNF7","RECQL","CLIC4","AS3MT","CLIC6","MAST1","CLIC4",
             "CCNI","MMP23B","AK1","CLIC4","CUTC","KLRB1", "MICU1","PARK7","SBDS","MEIS2","ALDOA","CA3","FEZ2","EIF3C","UBE2H","CALM1"] # Genes DE and ML
miR_nodes = ["NT5C2","ALDOA","BLCAP","FEZ2","SLC16A3","STUM","STUM","CA3","STIM1","ACIN1","HNRNPM","TPM3","CALM1","EHMT1","MYL2",
             "RPS24","ENO3","TNNI1","EEF2","HBA2","MB","RPL13A" , "MICU1","PARK7","SBDS","MEIS2","ALDOA","CA3","FEZ2","EIF3C","UBE2H","CALM1"] # Only ML
#miR_nodes = ["ALDOA","BLCAP","CA3","CALM1","EEF2","EHMT1","EIF3C","ENO3","MB","MEIS2","MICU1","MYL2","PARK7","RPL13A","STIM1","UBE2H"] # Genes with out degree > 0

In [34]:
mirPaths={}
for mir in miR_nodes:
    try:
        p = wn.get_pathways(graph=whole_network, mirna=mir, n_distance=steps, sample_size=15)
        unique_set = set(tuple(lst) for lst in p)
    
        # Convert back to a list of lists
        unique_list = [list(tpl) for tpl in unique_set]
        mirPaths[mir]=unique_list
    except Exception as e:
        pass #print(e)

In [35]:
mirPaths

{'ALDOA': [['ALDOA']],
 'BLCAP': [['BLCAP']],
 'CA3': [['CA3']],
 'STIM1': [['STIM1']],
 'CALM1': [['CALM1']],
 'EHMT1': [['EHMT1']],
 'MYL2': [['MYL2']],
 'ENO3': [['ENO3']],
 'EEF2': [['EEF2']],
 'MB': [['MB']],
 'RPL13A': [['RPL13A']],
 'KL': [['KL']],
 'RECQL': [['RECQL']],
 'KLRB1': [['KLRB1']],
 'MICU1': [['MICU1']],
 'PARK7': [['PARK7', 'ICAM1'],
  ['PARK7', 'BBC3'],
  ['PARK7', 'SLC18A2'],
  ['PARK7', 'TH'],
  ['PARK7', 'TXN'],
  ['PARK7', 'CXCL8']],
 'MEIS2': [['MEIS2', 'PAX6', 'IRX3', 'GJA5'],
  ['MEIS2', 'PAX6', 'AR', 'TGFB1I1', 'AR'],
  ['MEIS2', 'PAX6', 'AR', 'BSG'],
  ['MEIS2', 'PAX6', 'MITF', 'FOS', 'GSTP1'],
  ['MEIS2', 'PAX6', 'IRX3', 'KCND2'],
  ['MEIS2', 'PAX6', 'MITF', 'HOXA1', 'MITF'],
  ['MEIS2', 'PAX6', 'IRX3', 'GJA1'],
  ['MEIS2', 'PAX6', 'AR', 'SNW1', 'AR'],
  ['MEIS2', 'PAX6', 'MITF', 'FOS', 'HSPH1'],
  ['MEIS2', 'PAX6', 'AR', 'VDR', 'KL']],
 'EIF3C': [['EIF3C']],
 'UBE2H': [['UBE2H']]}

In [25]:
mirPaths['hsa-miR-152']

KeyError: 'hsa-miR-152'

In [36]:
mirInfluence={}
for mir, path in mirPaths.items():
    influence = wn.get_influence(whole_network, path)
    mirInfluence[mir]=influence
#mirInfluence

In [37]:
mir_pathway_influence = {}
for mir, influence_data in  mirInfluence.items():
    pi = wn.evaluate_pathway_influence(influence_data)
    mir_pathway_influence[mir]=pi

mir_de_influence = {}
for mir, influence_data in  mirInfluence.items():
    pi = wn.evaluate_de_influence(influence_data)
    mir_de_influence[mir]=pi

In [38]:
mir_pathway_influence_df = pd.DataFrame(mir_pathway_influence).T
#mir_pathway_influence_df = mir_pathway_influence_df.drop(columns=["Different_pathways", "Total"])
mir_pathway_influence_df['participation'] = mir_pathway_influence_df.drop(columns=["Different_pathways", "Total"]).sum(axis=1)
mir_pathway_influence_df

,ATP,MITOCHONDRI,RESPIRAT,METABOLI,OXIDATIVE_PHOSPHORYLATION,NONALCOHOLIC_FATTY_LIVER,MUSCLE,ELECTRON,Different_pathways,Total,participation
ALDOA,2,0,0,3,0,0,1,0,12,96,6
BLCAP,0,0,0,0,0,0,0,0,0,0,0
CA3,0,0,0,0,0,0,0,0,0,0,0
STIM1,0,0,0,0,0,0,0,0,0,0,0
CALM1,0,0,0,0,0,0,0,0,0,0,0
EHMT1,0,0,0,0,0,0,0,0,0,0,0
MYL2,0,0,0,0,0,0,0,0,0,0,0
ENO3,1,0,0,3,0,0,0,0,4,32,4
EEF2,0,0,0,0,0,0,0,0,0,0,0
MB,0,0,0,0,0,0,0,0,0,0,0
RPL13A,0,0,0,0,0,0,0,0,0,0,0
KL,0,0,0,1,0,0,0,0,2,16,1
RECQL,0,0,0,0,0,0,0,0,0,0,0
KLRB1,0,0,0,0,0,0,0,0,0,0,0
MICU1,0,0,0,0,0,0,0,0,0,0,0
PARK7,0,0,0,0,0,0,0,0,0,0,0
MEIS2,0,0,1,1,0,0,0,1,3,24,3
EIF3C,0,0,0,0,0,0,0,0,0,0,0
UBE2H,0,0,0,0,0,0,0,0,0,0,0

In [39]:
mean_influence  = mir_pathway_influence_df.loc[:, 'MITOCHONDRI'].mean()
mean_influence

np.float64(0.0)

In [40]:
mitocondrial_df = mir_pathway_influence_df[mir_pathway_influence_df['MITOCHONDRI']>mean_influence].sort_values('MITOCHONDRI', ascending=False)
mitocondrial_df['Rate']=mir_pathway_influence_df['MITOCHONDRI']/mir_pathway_influence_df['participation']

In [41]:
mitocondrial_df[mitocondrial_df['Different_pathways']<10].sort_values('MUSCLE',ascending=False)

Empty DataFrame
Columns: [ATP, MITOCHONDRI, RESPIRAT, METABOLI, OXIDATIVE_PHOSPHORYLATION, NONALCOHOLIC_FATTY_LIVER, MUSCLE, ELECTRON, Different_pathways, Total, participation, Rate]
Index: []

In [42]:
mir_de_influence_df = pd.DataFrame(mir_de_influence).T

In [43]:
mir_de_influence_df[mir_de_influence_df['yo']>0]

       m_l  m_s  yo  ym  mo
ALDOA    0    0   1   0   0
ENO3     0    0   1   0   1
KL       0    0   1   1   1
KLRB1    0    0   1   0   0
MEIS2    0    0   8   2   2

In [44]:
mir_de_influence_df[mir_de_influence_df['mo']>0]

       m_l  m_s  yo  ym  mo
ENO3     0    0   1   0   1
KL       0    0   1   1   1
MEIS2    0    0   8   2   2

In [45]:
mirs_all_infliences = mir_de_influence_df[(mir_de_influence_df['ym']>0)|(mir_de_influence_df['mo']>0)|(mir_de_influence_df['yo']>0)]
mirs_all_infliences

       m_l  m_s  yo  ym  mo
ALDOA    0    0   1   0   0
ENO3     0    0   1   0   1
KL       0    0   1   1   1
KLRB1    0    0   1   0   0
MEIS2    0    0   8   2   2

In [46]:
sel_mirs_list = list(mirs_all_infliences.index)
len(sel_mirs_list)

5

In [47]:
mir_pathway_influence_df_filteres = mir_pathway_influence_df[mir_pathway_influence_df.index.isin(sel_mirs_list)]

In [48]:
mir_pathway_influence_df_filteres#[mir_pathway_influence_df_filteres['MUSCLE']>0].sort_values('MUSCLE')

,ATP,MITOCHONDRI,RESPIRAT,METABOLI,OXIDATIVE_PHOSPHORYLATION,NONALCOHOLIC_FATTY_LIVER,MUSCLE,ELECTRON,Different_pathways,Total,participation
ALDOA,2,0,0,3,0,0,1,0,12,96,6
ENO3,1,0,0,3,0,0,0,0,4,32,4
KL,0,0,0,1,0,0,0,0,2,16,1
KLRB1,0,0,0,0,0,0,0,0,0,0,0
MEIS2,0,0,1,1,0,0,0,1,3,24,3

In [ ]:
mirPaths['hsa-miR-21-5p']

In [ ]:
mirPaths['hsa-miR-93-5p']